body {
  background-color: rgb(31, 30, 30);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

textarea {
  resize: vertical;
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 58);
}

input:focus,
textarea:focus {
  background-color: rgb(211, 212, 108);
  color: rgb(12, 45, 134);
  border-color: rgb(12, 45, 134);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(12, 45, 134);
  color: white;
  border: 1px solid rgb(24, 76, 219);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(17, 57, 168);
}

.form-class-inline {
  display: flex;
}

.form-class-inline input {
  width: auto;
  margin-right: 0.5rem;
}
