<%- include('includes/head.ejs', { title: 'Not Found!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Page Not Found!</h1>
    <p>The Post You are entered is not found!</p>
  </main>
</body>
</html>