<%- include('includes/head', { pageTitle: 'Not Authorized'}) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Not Authorized!</h1>
        <p>Unfortunately, You are not Authorized for this page.</p>
        <p><a class="btn" href="/">Back to safety!</a></p>
    </main>
<%- include('includes/footer') %>